.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-image:  url(images/outer-space.jpg);
  
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  
  font-size: 30px;
  text-align: center;
}

.pad{
     grid-column-start: 1;
    grid-column-end: 4;
    min-height: 100px;
}
.sign-up{
    background-color: rgba(0, 255, 0, 0.5);
     text-align: center;
     padding-bottom: 100px; 
     

}
   
form{
    display: inline-block;
    font-size: 30px;
    background-image: linear-gradient(to right, powderblue,gray,white);
    opacity: 1 ;
}
form div{
    padding: 10px;
}
form, input{
    min-width: 200px;
}
